.h-heading{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 100px 250px;
    word-wrap:normal;
    text-align: center;
}

.h-heading span{
    color:rgb(46, 92, 255);
}

.h-books{
    margin: 100px;
    padding:100px;
}
